*{
  flex: auto;
}

body{
  background: grey;
}

p{
  text-align: center;
  padding-top: .5cm;
}
#container{
  width: 95%;
  margin: auto;
  background-color: green;
}

.card{
  align-self: center;
  align-content: center;
  height: 100px;
  width: 100px;
  background-color: purple;
  border: 2px solid gold;

}

#board{
  border: black solid 5px;
  background-color: yellow;
  height: 800px;
  width: 800px;
}

.card {
  vertical-align: middle;
  display: inline-block;
  background-color: green;
  height: 100px;
  width: 100px;
  border: black 5px solid;
  text-align: center;
  padding-top: 10px;
  font-size: 100%;
  line-height: 250px;
}

#player1{
  background-color: gold;
  padding: 15px 10px 10px 10px;

}

#player2{
  background-color: purple;
  padding: 10px;
}

.score{
text-align: center;
height: 200px;
padding: 10px;
border: 3px solid;
}

#output {
  text-align: right;
  min-width: 95%;
  height: auto;
  padding: 5% 1%;
  margin-bottom: 10%;
  background-color: #FDFEFE;
  box-shadow: 1px 1px 1px gray, -1px -1px 1px gray;
}
