*{
  margin: 0;
  padding: 0;
}
.container{
  background: url("pokeball.svg");

}
body{

  background-color: khaki;
}

.card{
  margin: 0 auto;
  width: 150px;
  height: 200px;
  /*border: solid 5px black;*/
  border-radius: 10px;
  display: inline-block;
  background: url("../images/pokemon.png");
  background-size: 100% 100%;
  background-repeat:no-repeat;

}

.cardP2{
  width: 150px;
  height: 200px;
  /*border: solid 5px black;*/
  border-radius: 10px;
  display: inline-block;
  background: url("../images/pikachu.jpg");
}

h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

h3{
  vertical-align: bottom;
}

.p1score{
  text-align: center;
}

.p2score{
  text-align: center;
  margin-top: 30px;
}

.score{
  border: 5px black solid;
  margin-top: 30px;
  text-align: center;
}

h2{
  text-align: center;
}

.Player1{
display: inline-block;
margin-right: 60px;
}

.Player2{
display: inline-block;
margin-left: 60px;
}

.pts1{
  display: inline-block;
}

.rds1{
  display: inline-block;
}
.pts2{
  display: inline-block;
}

.rds2{
  display: inline-block;
}

.scorep2{
  display: inline-block;
}

.rdcount{
  position: relative;
  bottom: 100%;
}

.rdcount h2{
  position: absolute;
  bottom: 100%;
}
