*{
  flex: auto;
}

body{
  background: grey;
}

p{
  text-align: center;;;
  padding-top: .5cm;
}
.container{
  width: 95%;
  margin: auto;
  background-color: green;
}


}

#board{
  border: black solid 5px;
  background-color: yellow;
  height: 800px;
  width: 800px;
}

.card {
  vertical-align: middle;
  background-color: purple;
  border: gold;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: black 5px solid;
  text-align: center;
  padding-top: 10px;
  font-size: 100%;
  line-height: 250px;
}

.cardP2 {
  vertical-align: middle;
  background-color: gold;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: purple 5px solid;
  text-align: center;
  padding-top: 10px;
  font-size: 100%;
  line-height: 250px;
}
#player1{
  background-color: gold;
  padding: 15px 10px 10px 10px;

}

#player2{
  background-color: purple;
  padding: 10px;
}

.score{
text-align: center;
height: 200px;
padding: 10px;
border: 1px solid;
}

#output {
  text-align: right;
  width: 10%;
  margin-bottom: 0%;
  background-color: #FDFEFE;
  box-shadow: 1px 1px 1px gray, -1px -1px 1px gray;
}
